extends layout

block content
    h1= title
    p Welcome to my first Express Test

    #wrapper

        //User List
        h2 User List

            table
                thead
                    th Username
                    th Email
                    th Delete?



